{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}My Profile - Amazon Clone{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fas fa-user"></i> Account Menu</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{% url 'accounts:profile' %}" class="list-group-item list-group-item-action active">
                        <i class="fas fa-user-edit"></i> Edit Profile
                    </a>
                    <a href="{% url 'orders:list' %}" class="list-group-item list-group-item-action">
                        <i class="fas fa-shopping-bag"></i> My Orders
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="fas fa-heart"></i> Wishlist
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="fas fa-cog"></i> Settings
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-user-edit"></i> Edit Profile</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}